<footer class="page-footer font-small indigo" style="background-color: #e9ecef;">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>



        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>



        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>



        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>



        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer --> 

<nav class="navbar-fixed-bottom" style="background-color: #e9ecef;">
    <div class="container-fluid">
        <div class="row2 ">
            <div class=" navbar-brand col-sm-3 col-md-3 col-lg-3 text-center">
                <p class="d-none d-sm-block ">                            
                    ให้ rogistic.com หารถให้คุณ 
                </p>
                <span class="d-lg-none d-md-none d-sm-none col-md-3 col-lg-3 "> <?= Html::a('<i class="fab fa-facebook  fa-1x f-icon-color-facebook"></i><h5><small>facebook.</small></h5>', 'https://www.facebook.com/Rogisticcom-359767341103161') ?> </span>
            </div>
                 
               
            <div class="navbar-brand col-sm-3 col-md-3  col-lg-3 text-center">                         
                <p class="d-none d-sm-block ">                           
                    <i class="fas fa-phone-alt fa-1x f-icon-color-phone"></i>                           
                    <?= Html::a(
                        '061-872-8888',
                        'tel:+66618728888',
                        ['class' => 'btn btn-link']
                    )
                    ?>
                </p>
                <span class="d-lg-none d-md-none d-sm-none"> <?= Html::a('<i class="fas fa-phone-alt fa-1x f-icon-color-phone"; margin-top: 10px;"></i> <h5><small>โทร.</small></h5>', 'tel:+66618728888') ?> </span>
            </div>
            
            
            <div class="navbar-brand col-sm-3 col-md-3  col-lg-3 text-center">
                <p class="d-none d-sm-block ">
                    <i class="fab fa-line fa-1x f-icon-color-line"></i>
                    <?= Html::a(
                        '@Line',
                        'https://line.me/R/ti/p/%40rogistic',
                        ['class' => 'btn btn-link']
                    )
                    ?>
                </p>
                <span class="d-lg-none d-md-none d-sm-none"> <?= Html::a('<i class="fab fa-line fa-1x f-icon-color-line"></i><h5><small>line.</small></h5>', 'https://line.me/R/ti/p/%40rogistic') ?> </span>

            </div>
            
           
            <div class="navbar-brand col-sm-3 col-md-3 col-lg-3 text-center">
                <p class="d-none d-sm-block">
                    <i class="fab fa-facebook-messenger fa-1x f-icon-color-messenger"></i>
                    <?= Html::a(
                        'Massenger',
                        'https://m.me/359767341103161',
                        ['class' => 'btn btn-link']

                    );
                    ?>
                </p>
                <span class="d-lg-none d-md-none d-sm-none"> <?= Html::a('<i class="fab fa-facebook-messenger fa-1x f-icon-color-messenger"></i><h5><small>messenger</small></h5>', 'https://m.me/359767341103161') ?> </span>

            </div>  
            
            
            <!--<div class="navbar-brand col-sm-3 col-md-3 col-lg-3 text-right" >
                
                    <p class="d-none d-sm-block col-md-3 col-lg-3 " style="float:left; font-size:14px;">
                        <small class="badge badge-warning ">ติดต่อ | ทีมงาน rogistic.com เพื่อให้บริการโดยตรง</small>  
                    </p>
                
                 </div> 
            </div>-->

        </div>
     
</nav>


https://www.facebook.com/groups/376534166106364/


https://www.facebook.com/rogisticcom/?__tn__=%2Cd%2CP-R&eid=ARAfLkp-MU6CVetyK3tTpDBP7Mlym2JXMmteSvfJJ9uSHEwLBVno4_cyjpDbj7xS0sVcYvl6uaXLC8pg