html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap>.container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content:
        /*"\e113"*/
        "\e151";
}

a.desc:after {
    content:
        /*"\e114"*/
        "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li>form>button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li>form>button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav>li>form>button.logout:focus,
.nav>li>form>button.logout:hover {
    text-decoration: none;
}

.nav>li>form>button.logout:focus {
    outline: none;
}



.cardd {
    padding-top: 20px;
}

@media only screen and (min-width: 576px) {
    .car-display-mobile {
        width: 100%;
        height: 320px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 576px) {
    .car-display-mobile {
        width: 100%;
        height: 220px;
        font-size: 12px;

    }

    .card-mobile {
        position: relative;
        display: flex;
        min-width: 0;
        flex-direction: column;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;

    }

    .cardd {
        padding-top: 0px;

    }

    .card-body-list-car>h6 {
        font-size: 14px;
    }

    .card-body-list-car>p {
        font-size: 12px;
    }

    .card-body-list-car {
        line-height: 14px;
        padding-left: 5px;
        padding-top: 5px;
    }

}

@media only screen and (min-width: 768px) {
    .car-display-mobile {
        width: 100%;
        height: 420px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 922px) {
    .car-display-mobile {
        width: 100%;
        height: 520px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 1200px) {
    .car-display-mobile {
        width: 100%;
        height: 520px;
        font-size: 12px;
    }
}




/* car-display-loop*/

@media only screen and (min-width: 576px) {
    .car-display-loop {
        width: 300px;
        height: 225px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 576px) {
    .car-display-loop {
        width: 160px;
        height: 120px;
        font-size: 12px;

    }

    .card-loop {
        position: relative;
        display: flex;
        min-width: 0;
        flex-direction: row;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;

    }


}

@media only screen and (min-width: 768px) {
    .car-display-loop {
        width: 220px;
        height: 150px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 922px) {
    .car-display-loop {
        width: 300px;
        height: 225px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 1200px) {
    .car-display-loop {
        width: 300px;
        height: 225px;
        font-size: 12px;
    }
}




.row2 {
    display: -ms-flexbox;
    display: flex;
    /* flex-wrap: wrap; */
    margin-right: -15px;
    margin-left: -15px;
}



@media only screen and (min-width: 576px) {
    .commany-display-mobile {
        width: 100%;
        height: 320px;
        font-size: 12px;
    }
}


@media only screen and (max-width: 576px) {
    .commany-display-mobile {
        width: 100%;
        height: 220px;
        font-size: 12px;

    }

    .card-mobile {
        position: relative;
        display: flex;
        min-width: 0;
        flex-direction: row;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;

    }


}

@media only screen and (min-width: 768px) {
    .commany-display-mobile {
        width: 80%;
        height: 300px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 922px) {
    .commany-display-mobile {
        width: 80%;
        height: 420px;
        font-size: 12px;
    }
}


@media only screen and (min-width: 1200px) {
    .commany-display-mobile {
        width: 80%;
        height: 420px;
        font-size: 12px;
    }
}



/*JOB*/


.cardd-job {
    padding-top: 20px;
}


@media only screen and (min-width: 576px) {
    .job-display-mobile {
        width: 100%;
        height: 320px;
        font-size: 12px;
    }
}


@media only screen and (max-width: 576px) {
    .job-display-mobile {
        width: 100%;
        height: 220px;
        font-size: 12px;

    }

    .card-mobile {
        position: relative;
        display: flex;
        min-width: 0;
        flex-direction: row;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;

    }

    .cardd-job {
        padding-top: 0px;
    }




}

@media only screen and (min-width: 768px) {
    .job-display-mobile {
        width: 100%;
        height: 420px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 922px) {
    .job-display-mobile {
        width: 100%;
        height: 520px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 1200px) {
    .job-display-mobile {
        width: 100%;
        height: 520px;
        font-size: 12px;
    }
}




/* job-display-loop*/



@media only screen and (min-width: 576px) {
    .job-display-loop {
        width: 300px;
        height: 225px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 576px) {
    .job-display-loop {
        width: 160px;
        height: 120px;
        font-size: 12px;

    }

    .card-loop {
        position: relative;
        display: flex;
        min-width: 0;
        flex-direction: row;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;


    }

    .card-body-list>h6 {
        font-size: 14px;
    }

    .card-body-list>p {
        font-size: 12px;
    }

    .card-body-list {
        line-height: 14px;
        padding-left: 5px;
        padding-top: 5px;
    }


}

@media only screen and (min-width: 768px) {
    .job-display-loop {
        width: 220px;
        height: 150px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 1024px) {
    .job-display-loop {
        width: 300px;
        height: 225px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 1200px) {
    .job-display-loop {
        width: 300px;
        height: 225px;
        font-size: 12px;
    }
}


/*car-type*/


@media only screen and (min-width: 576px) {
    .cartype-display-loop {
        width: 300px;
        height: 225px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 576px) {
    .cartype-display-loop {
        width: 150px;
        height: 125px;
        font-size: 12px;

    }

    .card-loop {
        position: relative;
        display: flex;
        min-width: 0;
        flex-direction: row;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;

    }


}



@media only screen and (min-width: 768px) {
    .cartype-display-loop {
        width: 220px;
        height: 150px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 1024px) {
    .cartype-display-loop {
        width: 300px;
        height: 225px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 1200px) {
    .cartype-display-loop {
        width: 300px;
        height: 225px;
        font-size: 12px;
    }
}



.breadcrumb2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #ffffff;
    border-radius: 0.25rem;
    text-decoration: none;
    color: black;
}


.card2 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /*border: 1px solid rgba(0, 0, 0, 0.125);*/
    border-radius: 0.25rem;
}