
  .card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300;
    height: auto;
    position: relative;
    border-radius: 12px;
    
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    text-align: center;
    /*margin: 20px;*/
    padding:20px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .card-bg-1{
    background: linear-gradient(180deg, #2ECC71    , #58D68D  );
  }
  .card-bg-2{
    background: linear-gradient(180deg, #E74C3C   , #EC7063);
  }
  .card-bg-facebook{
    background: linear-gradient(180deg, #3b5998 , #526897);
  }
  .card-bg-edit{
    background: linear-gradient(180deg, #ffd100 , #ffe262);
  }

  @media screen and (min-width: 320px)and (max-width: 900px)
  {
   .card{
    display: flex;
    /*justify-content: left;*/
   /* align-items:  right;*/
    flex-direction: row;
    width: auto;
    height: auto;
    position: relative;
    border-radius: 12px;
    background-color:#fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    text-align: center;
    /*margin: 20px;*/
    padding:0px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
    }
  .card-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
  }
 
  

  .text-content{
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
  }
  
  .card-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
  }
  
  /*p{
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
  }*/
  
  i{
   /* color: #2196F3;*/
   color: #fff;
  }
  
  .fa-css3{
    color: #fff;
  }
  a:link{
   text-decoration: none!important;
  }
 .card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
a {
  color: #273746 ;
  text-decoration: none;
}
a:hover {
  color: #17202A         ;
}