html,
body {
  height: 100%;
  background-color: #ecf0f3;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.wrap>.container {
  padding: 70px 15px 20px;
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: "\e151";
}

a.desc:after {
  content: "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view td {
  white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
  min-width: 50px;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li>form>button.logout {
  padding: 15px;
  border: none;
}

@media(max-width:767px) {
  .nav li>form>button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 15px;
  }
}

.nav>li>form>button.logout:focus,
.nav>li>form>button.logout:hover {
  text-decoration: none;
}

.nav>li>form>button.logout:focus {
  outline: none;
}

.btn-sq-lg {
  width: 300px !important;
  height: 50px !important;
}

.btn-redc {
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000;
}

.btn-yellc {
  color: #fff;
  background-color: #ffce00;
  border-color: #ffce00;
}

.btn-vioc {
  color: #fff;
  background-color: #cb06ff;
  border-color: #cb06ff;
}

.btn-grec {
  color: #fff;
  background-color: #00ff1e;
  border-color: #00ff1e;
}

.btn-facec {
  color: #fff;
  background-color: #005eff;
  border-color: #005eff;
}

.header-rog .navbar-brand {
  color: #fff;
  ;
}

.header-rog .navbar-brand:hover,
.header-rog .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}

.header-rog .navbar-text {
  color: #9d9d9d;
}

.header-rog .navbar-nav>li>a {
  color: #fff;
}

.header-rog .navbar-nav>li>a:hover,
.header-rog .navbar-nav>li>a:focus {
  color: #2196f3;
  background-color: #f5f5f5;
}

.header-rog .navbar-nav>.active>a,
.header-rog .navbar-nav>.active>a:hover,
.header-rog .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #080808;
}

.header-rog .navbar-nav>.disabled>a,
.header-rog .navbar-nav>.disabled>a:hover,
.header-rog .navbar-nav>.disabled>a:focus {
  color: #444;
  background-color: transparent;
}

.header-rog .navbar-nav>.open>a,
.header-rog .navbar-nav>.open>a:hover,
.header-rog .navbar-nav>.open>a:focus {
  color: #fff;
  background-color: #080808;
}

@media (max-width: 767px) {
  .header-rog .navbar-nav .open .dropdown-menu>.dropdown-header {
    border-color: #080808;
  }

  .header-rog .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }

  .header-rog .navbar-nav .open .dropdown-menu>li>a {
    color: #9d9d9d;
  }

  .header-rog .navbar-nav .open .dropdown-menu>li>a:hover,
  .header-rog .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #fff;
    background-color: transparent;
  }

  .header-rog .navbar-nav .open .dropdown-menu>.active>a,
  .header-rog .navbar-nav .open .dropdown-menu>.active>a:hover,
  .header-rog .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #fff;
    background-color: #080808;
  }

  .header-rog .navbar-nav .open .dropdown-menu>.disabled>a,
  .header-rog .navbar-nav .open .dropdown-menu>.disabled>a:hover,
  .header-rog .navbar-nav .open .dropdown-menu>.disabled>a:focus {
    color: #444;
    background-color: transparent;
  }
}

.header-rog .navbar-toggle {
  border-color: #333;
}

.header-rog .navbar-toggle:hover,
.header-rog .navbar-toggle:focus {
  background-color: #333;
}

.header-rog .navbar-toggle .icon-bar {
  background-color: #fff;
}

.header-rog .navbar-collapse,
.header-rog .navbar-form {
  border-color: #101010;
}

.header-rog .navbar-link {
  color: #9d9d9d;
}

.header-rog .navbar-link:hover {
  color: #fff;
}

.header-rog .btn-link {
  color: #9d9d9d;
}

.header-rog .btn-link:hover,
.header-rog .btn-link:focus {
  color: #fff;
}

.header-rog .btn-link[disabled]:hover,
fieldset[disabled] .header-rog .btn-link:hover,
.header-rog .btn-link[disabled]:focus,
fieldset[disabled] .header-rog .btn-link:focus {
  color: #444;
}


a.wpfront-button {
  background: #00c300;
  color: #ffffff;
}

.post-container {
  margin: 20px 20px 0 0;

  overflow: auto
}

.post-thumb {
  float: left
}

.post-thumb img {
  display: block
}

.post-content {
  margin-left: 210px
}

.post-title {
  font-weight: bold;
  font-size: 200%;
  padding: 9px;
  background: #ccc
}






.cardd {
  padding-top: 20px;
}

@media only screen and (min-width: 576px) {
  .car-display-mobile {
    max-width: 100%;
    max-height: 320px;
    width: auto;
    height: 320px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 576px) {
  .car-display-mobile {
    max-width: 100%;
    max-height: 220px;
    width: auto;
    height: 220px;
    font-size: 12px;
  }

  .card-mobile {
    position: relative;
    display: flex;
    min-width: 0;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;

  }

  .cardd {
    padding-top: 0px;

  }

  .card-body-list-car>h6 {
    font-size: 14px;
  }

  .card-body-list-car>p {
    font-size: 12px;
  }

  .card-body-list-car {
    line-height: 14px;
    padding-left: 5px;
    padding-top: 5px;
  }

}

@media only screen and (min-width: 768px) {
  .car-display-mobile {
    max-width: 100%;
    max-height: 420px;
    width: auto;
    height: 420px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 922px) {
  .car-display-mobile {
    max-width: 100%;
    max-height: 520px;
    width: auto;
    height: 520px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 1200px) {
  .car-display-mobile {
    max-width: 100%;
    max-height: 520px;
    width: auto;
    height: 520px;
    font-size: 12px;
  }
}




/* car-display-loop*/

@media only screen and (min-width: 576px) {
  .car-display-loop {
    width: 300px;
    height: 225px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 576px) {
  .car-display-loop {
    width: 160px;
    height: 120px;
    font-size: 12px;

  }

  .card-loop {
    position: relative;
    display: flex;
    min-width: 0;
    flex-direction: row;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;

  }


}

@media only screen and (min-width: 768px) {
  .car-display-loop {
    width: 220px;
    height: 150px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 922px) {
  .car-display-loop {
    width: 300px;
    height: 225px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 1200px) {
  .car-display-loop {
    width: 300px;
    height: 225px;
    font-size: 12px;
  }
}




.row2 {
  display: -ms-flexbox;
  display: flex;
  /* flex-wrap: wrap; */
  margin-right: -15px;
  margin-left: -15px;
}



@media only screen and (min-width: 576px) {
  .commany-display-mobile {
    width: 100%;
    height: 320px;
    font-size: 12px;
  }
}


@media only screen and (max-width: 576px) {
  .commany-display-mobile {
    width: 100%;
    height: 220px;
    font-size: 12px;

  }

  .card-mobile {
    position: relative;
    display: flex;
    min-width: 0;
    flex-direction: row;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;

  }


}

@media only screen and (min-width: 768px) {
  .commany-display-mobile {
    width: 80%;
    height: 300px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 922px) {
  .commany-display-mobile {
    width: 80%;
    height: 420px;
    font-size: 12px;
  }
}


@media only screen and (min-width: 1200px) {
  .commany-display-mobile {
    width: 80%;
    height: 420px;
    font-size: 12px;
  }
}



/*JOB*/


.cardd-job {
  padding-top: 20px;
}


@media only screen and (min-width: 576px) {
  .job-display-mobile {
    max-width: 100%;
    max-height: 320px;
    width: auto;
    height: 320px;
    font-size: 12px;
  }
}


@media only screen and (max-width: 576px) {
  .job-display-mobile {
    max-width: 100%;
    max-height: 220px;
    width: auto;
    height: 220px;
    font-size: 12px;
  }

  .card-mobile {
    position: relative;
    display: flex;
    min-width: 0;
    flex-direction: row;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;

  }

  .cardd-job {
    padding-top: 0px;
  }

}

@media only screen and (min-width: 768px) {
  .job-display-mobile {
    max-width: 100%;
    max-height: 420px;
    width: auto;
    height: 420px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 922px) {
  .job-display-mobile {
    max-width: 100%;
    max-height: 520px;
    width: auto;
    height: 520px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 1200px) {
  .job-display-mobile {
    max-width: 100%;
    max-height: 520px;
    width: auto;
    height: 520px;
    font-size: 12px;
  }
}




/* job-display-loop*/



@media only screen and (min-width: 576px) {
  .job-display-loop {
    width: 300px;
    height: 225px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 576px) {
  .job-display-loop {
    width: 160px;
    height: 120px;
    font-size: 12px;

  }

  .card-loop {
    position: relative;
    display: flex;
    min-width: 0;
    flex-direction: row;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;


  }

  .card-body-list>h6 {
    font-size: 14px;
  }

  .card-body-list>p {
    font-size: 12px;
  }

  .card-body-list {
    line-height: 14px;
    padding-left: 5px;
    padding-top: 5px;
  }


}

@media only screen and (min-width: 768px) {
  .job-display-loop {
    width: 220px;
    height: 150px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 1024px) {
  .job-display-loop {
    width: 300px;
    height: 225px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 1200px) {
  .job-display-loop {
    width: 300px;
    height: 225px;
    font-size: 12px;
  }
}


/*car-type*/


@media only screen and (min-width: 576px) {
  .cartype-display-loop {
    width: 300px;
    height: 225px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 576px) {
  .cartype-display-loop {
    width: 150px;
    height: 125px;
    font-size: 12px;

  }

  .card-loop {
    position: relative;
    display: flex;
    min-width: 0;
    flex-direction: row;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;

  }


}



@media only screen and (min-width: 768px) {
  .cartype-display-loop {
    width: 220px;
    height: 150px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 1024px) {
  .cartype-display-loop {
    width: 300px;
    height: 225px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 1200px) {
  .cartype-display-loop {
    width: 300px;
    height: 225px;
    font-size: 12px;
  }
}



.breadcrumb2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #ffffff;
  border-radius: 0.25rem;
  text-decoration: none;
  color: black;
}


.card2 {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  /*border: 1px solid rgba(0, 0, 0, 0.125);*/
  border-radius: 0.25rem;
}



.card-counterv4 {
  box-shadow: 2px 2px 10px #DADADA;
  margin: 5px;
  padding: 20px 10px;
  background-color: #fff;
  height: 100px;
  border-radius: 5px;
  transition: .3s linear all;
}

.card-counterv4:hover {
  box-shadow: 4px 4px 20px #DADADA;
  transition: .3s linear all;
}

.card-counterv4.primary {
  background-color: #007bff;
  color: #FFF;
}

.card-counterv4.danger {
  background-color: #ef5350;
  color: #FFF;
}

.card-counterv4.success {
  background-color: #66bb6a;
  color: #FFF;
}

.card-counterv4.pink {
  background-color: #e83e8c;
  color: #FFF;
}

.card-counterv4.secondary {
  background-color: #6c757d;
  color: #FFF;
}

.card-counterv4.info {
  background-color: #26c6da;
  color: #FFF;
}

.card-counterv4.bluesea {
  background-color: #11e4b9;
  color: #FFF;
}

.card-counterv4.purple {
  background-color: #6f42c1;
  color: #FFF;
}

.card-counterv4.green {
  background-color: #00d38b;
  color: #FFF;
}

.card-counterv4.warning {
  background-color: #ffc107;
  color: #FFF;
}

.card-counterv4 i {
  font-size: 5em;
  opacity: 0.2;
}

.card-counterv4 .count-numbers {
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 24px;
  display: block;
}

.card-counterv4 .count-name {
  position: absolute;
  right: 35px;
  top: 65px;
  font-style: italic;
  text-transform: capitalize;
  opacity: 0.5;
  display: block;
  font-size: 16px;
}

#wpfront-notification-bar {
  background: red;

}

#wpfront-notification-bar div.wpfront-message {
  color: #fff
}

.bg-red {
  background: red;
}

@media only screen and (max-width: 576px) {
  div.wpfront-message576 {
    color: #fff;
    font-size: 12px;
  }

  a.wpfront-button-blue {
    background: #007bff;
    color: #ffffff;
  }

  a.wpfront-button {
    font-size: 12px;
  }

  a.wpfront-button-blue {
    font-size: 12px;
  }

  h3 {
    font-size: 18px;
  }
}

@media only screen and (min-width: 576px) {
  div.wpfront-message {
    color: #fff;
    font-size: 14px;
  }

}

a.wpfront-button {
  background: #00c300;
  color: #ffffff;

}

a.wpfront-button-blue {
  background: #007bff;
  color: #ffffff;
}



/*#wpfront-notification-bar {
  visibility:hidden;
  position:fixed;
  overflow:hidden;
  left:0;
  right:0;
  color:#fff;background-color:#000
}*/

.wpfront-bottom-shadow {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .75);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .75)
}

.wpfront-top-shadow {
  -webkit-box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, .75);
  -moz-box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, .75);
  box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, .75)
}


/*
#wpfront-notification-bar.wpfront-fixed {
  position:fixed;
  z-index:9999;
  width:100%
} */

#wpfront-notification-bar div.wpfront-close {
  position: absolute;
  top: 3px;
  right: 5px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-weight: 700;
  line-height: 0;
  font-size: 10px;
  padding: 5px 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px
}

#wpfront-notification-bar table,
#wpfront-notification-bar tbody,
#wpfront-notification-bar tr {
  margin: auto;
  border: 0;
  padding: 0;
  background: inherit
}

#wpfront-notification-bar td {
  background: inherit;
  vertical-align: middle;
  text-align: center;
  border: 0;
  margin: 0;
  padding: 5px 0;
  line-height: 1em
}

#wpfront-notification-bar div {
  text-align: center;
  display: inline-block;
  vertical-align: middle
}

#wpfront-notification-bar a.wpfront-button {
  display: inline-block;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  white-space: nowrap;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px
}

#wpfront-notification-bar a.wpfront-button-blue {
  display: inline-block;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  white-space: nowrap;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px
}






.row.heading h2 {
  color: #fff;
  font-size: 52.52px;
  line-height: 95px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.heading.heading-icon {
  display: block;
}

.padding-lg {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}

.practice-area.padding-lg {
  padding-bottom: 55px;
  padding-top: 55px;
}

.practice-area .inner {
  border: 1px solid #999999;
  text-align: center;
  margin-bottom: 28px;
  padding: 40px 25px;
}

.our-webcoderskull .cnt-block:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border: 0;
}

.practice-area .inner h3 {
  color: #3c3c3c;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  padding: 10px 0;
}

.practice-area .inner p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.practice-area .inner img {
  display: inline-block;
}


/*.our-webcoderskull{
  background: url("http://www.webcoderskull.com/img/right-sider-banner.png") no-repeat center top / cover;
  
}*/
.our-webcoderskull .cnt-block {
  float: left;
  width: 100%;
  background: #fff;
  padding: 30px 20px;
  text-align: center;
  border: 2px solid #d5d5d5;
  margin: 0 0 28px;
}

.our-webcoderskull .cnt-block figure {
  width: 148px;
  height: 148px;
  border-radius: 100%;
  display: inline-block;
  margin-bottom: 15px;
}

.our-webcoderskull .cnt-block img {
  width: 148px;
  height: 148px;
  border-radius: 100%;
}

.our-webcoderskull .cnt-block h3 {
  color: #2a2a2a;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-transform: uppercase;
}

.our-webcoderskull .cnt-block h3 a {
  text-decoration: none;
  color: #2a2a2a;
}

.our-webcoderskull .cnt-block h3 a:hover {
  color: #337ab7;
}

.our-webcoderskull .cnt-block p {
  color: #2a2a2a;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

.our-webcoderskull .cnt-block .follow-us {
  margin: 20px 0 0;
}

.our-webcoderskull .cnt-block .follow-us li {
  display: inline-block;
  width: auto;
  margin: 0 5px;
}

.our-webcoderskull .cnt-block .follow-us li .fa {
  font-size: 24px;
  color: #767676;
}

.our-webcoderskull .cnt-block .follow-us li .fa:hover {
  color: #025a8e;
}



#myBtn {
  display: none;
  position: fixed;
  bottom: 65px;
  right: 25px;
  z-index: 99;
  font-size: 24px;
  border: none;
  outline: none;
  /*background: linear-gradient(180deg,#833ab4 , #fd1d1d , #fcb045  );*/
  color: #ffffff;
  background: #D3D3D3;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}


.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}